# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
env/
venv/
ENV/

# Environment Variables
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs & OS
*.log
.DS_Store
Thumbs.db
